extends ../layout

block content
    a(href='/bicicletas/crear') Crear
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicación
                th(scope='col') Editar
                th(scope='col') Eliminar
        tbody
            each bici in bicicletas 
                tr
                    th(scope='row')
                        = bici.id
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion  
                    td
                        a(href='bicicletas/'+ bici.id + '/editar' class='btn btn-primary') Editar
                    td
                        form.inline(method='post' action='bicicletas/' + bici.id + '/borrar')
                            input(type='hidden' name='id' value=bici.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-danger')
                                = 'Eliminar'
